* {
  box-sizing: border-box;
  background-color: aliceblue;
}
body {
  margin: 0;
  width: 90%
}

.NavBar {
  /* border: 1px solid red; */
  height: 100%;
  display: flex;
  flex-direction: column;
}

header, 
main, 
section, 
footer {
display: flex;
justify-content: center;
align-items: center;
}
/* ~~~~~~~~ HEADER ~~~~~~~~~~ */

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  /* padding: 40px 0px; */
}

body div.NavBar header img {
  /* margin-bottom: 0px; */
  /* align-items: column; */
  /* justify-items: column; */
  padding-left: 0px;
  width: 50px;
  border: 2px dotted black;
}

header h2 {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bolder;
  /* font-size: 65px; */
  font-size: 15px;
  padding-bottom: 20px;
  padding-top: 10px;
}

header nav ul {
  padding: 25px;
  /* border: 1px solid red; */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  list-style-type: none;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
header nav {
  width: 1000px;
  /* padding: 56px; */
}

header nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: large;
  text-transform: uppercase;
}

/* ~~~~~~~~~ MAIN~~~~~~~~~ */
main {
  display: flex;
  flex-direction: column;
}
 main span {
   display: grid;
   grid-template-columns: auto auto;
 }

.RightBox {
  width: 80%;
  padding-left: 10%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 30px;
}

.LeftBox {
  /* padding-left: 90px; */
  /* padding-bottom: 50px; */
  margin-left: 5%;
  width: 10%;
}

.LeftBox img {
  border: 8px solid black;
  padding-left: 0px;
  padding-bottom: 0px;
}
.BottomBox {
  /* border: 1px solid blue; */
  padding: 55px 80px;
  width: 1000px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 30px;
}

main div h2 {
  padding-left: 175px;
  padding-bottom: 50px;
  font-size: 60px;
  font-family: sans-serif;
  font-weight: bolder;
  color: rgb(132, 210, 210);
  /* align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center; */
}

p {
  color: slategray;
}
/* ~~~~~~~~~~FOOTER~~~~~~~~~~~ */


/* Small and up (Landscape Phones) */
@media (max-width: 576px) {
  header nav {
    width: 500px;
  }
  header nav ul {
    flex-flow: column;
  }
  main span {
    display: grid;
    grid-template-columns: auto;
    width: 500px;
    padding-left: 0px;
  }
  .LeftBox {
    display: flex;
    justify-content: center;
  }
  .LeftBox img {
    padding: 0px;
    width: 350px;
  }
  .LeftBox, .RightBox, .BottomBox {
      /* display: flex;
      flex-direction: column; */
      width: 500px;
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto auto auto;
  }
  main div h2 {
    padding-left: 25px;
    padding-bottom: 50px;
    font-size: 50px;
  }
  .BottomBox {
    /* border: 1px solid blue; */
    /* padding: 5px 0px; */
    /* width: 500px; */
    font-size: 30px;
  }
  p {
    padding-left: 25px;
    width: 300px;
  }
  main div {
    padding-left: 5px;
    padding-bottom: 50px;
    font-size: 40px;
   
  }
}
@media (max-width: 767px) {
  header nav {
    width: 800px;
  }
  header nav ul {
    /* flex-flow: column; */
  }
  main span {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    width: 300px;
    padding-right: 300px;
  }
  .LeftBox {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 20px;
  }
  .LeftBox img {
    padding: 0px;
    width: 300px;
  }
  .LeftBox, .RightBox, .BottomBox {
      /* display: flex;
      flex-direction: column; */
      width: 800px;
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto auto auto;
  }
  main div h2 {
    padding-left: 5px;
    padding-bottom: 50px;
    font-size: 50px;
  }
  .BottomBox {
    font-size: 30px;
  }
  p {
    padding-left: 5px;
    width: 800px;
  }
  main div {
    padding-left: 5px;
    padding-bottom: 50px;
    font-size: 40px;
  }
}

@media (max-height: 767px) {
  div {
      display: grid;
      grid-template-columns: auto;
      text-align: center;
  }
  body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  img {
      padding-left: 100px;
      padding-bottom: 10px;
      border: black solid 0px;
  }
  .box1, .box2, .box3 {
    padding-bottom: 50px;
  }
  main div img {
    width: 500px;
  }
}
